<div class="container-fluid">
  <div id="seccion-1">
  
    <div id="home">

    <div id="banner-home">
      <header>
         <div id="header-inner">
          <a href="#" id="logo">
            <img src="assets/img/4.png" alt="">
          </a>

          <nav>
            <a href="#" id="menu-icon">
              <i class="fa fa-bars"></i>
            </a>
            <ul>
              <li>
                <a href="index.html" class="current">
                  Home
                </a>
              </li>
           
              <li>
                <a href="#funcion">
                   Como funciona
                </a>
              </li>
              <li>
                <a href="#promotor">
                  ¿Eres promotor ?
                </a>
              </li>
              <li>
                <a href="#productos"> 
                   ¿Eres casa de productos?
                </a>
              </li>

                 <li>
                <a href="#regístrate">
                   Regístrate
                </a>
              </li>

               <li>
                <a href="#ingresa">
                  Ingresa
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="assets/img/1.jpg" alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
          </div>
          
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="assets/img/2.jpg" alt="Second slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          </div>
         
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="assets/img/3.jpg" alt="Third slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
          </div>
         
        </mdb-carousel-item>
      </mdb-carousel>


    </div>
       
<!-- MODULO 1 -->

<div class="clearfix-padding" id="funcion"></div>
        <section class="modulo-1">
          <h3 class="titulo-1">Función principal del sistema</h3>
          <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button type="button" class="btn btn-dark">Soy Promotor</button>
        </section>
        <section class="sidebar">
          <img  class="imagen" src="assets/img/4.png">
          <button type="button" class="btn btn-dark">Soy casa de productos</button>
        </section>

  <!-- MODULO 2 -->
  <section class="modulo-1">
    <h3 class="titulo-1">Función principal del sistema</h3>
    <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
  </section>
  <section class="sidebar">
    <img  class="imagen" src="assets/img/5.png">
    
  </section>

  <!-- MODULO 3 -->

  <section class="sidebar">
    <img  class="imagen" src="assets/img/5.png">
    
  </section>
  <section class="modulo-1">
    <h3 class="titulo-1">Función principal del sistema</h3>
    <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
  </section>
  </div>
 </div>
</div>